
body {
    padding: 1rem;
    max-width: 600px;
    background: lightgray;
    max-height: 600px;

}
h1 {
    font-size: xxx-large;
    color: red;
    text-align: center;
}
h2 {
    color: red;
    text-align: center;
}
p {
    font-size: medium;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

html {
    display: flex;
    margin: auto;
    background: black;
    align-items: center;
    justify-content: center;

}

.submitBtn-signup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    padding: 15px 3rem 15px 3rem;
    display: inline-block;
    text-align: center;

}

#login-buttons{
    margin: auto;
    text-align: center;
    border: 1px solid black;

}