
body {
    padding: 1rem;
    max-width: 600px;
    background: lightgray;
}
h1 {
    font-size: xxx-large;
    color: red;
    text-align: center;
}
h2 {
    color: red;
    text-align: center;
}
p {
    font-size: medium;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

html {
    display: flex;
    margin: auto;
    background: black;
    align-items: center;
    justify-content: center;

}